/*个人信息美化，去除长按钮*/
#aside-content .card-info #card-info-btn {
  display: none;
}

/* 版权信息 */
/* 背景 */
#post .post-copyright {
  background: var(--heo-card-bg);
  padding: 2rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  transition: 0.3s;
  border-radius: 11px;
}


@media screen and (max-width: 768px) {
  #post .post-copyright {
    padding: 1rem 1.3rem;
  }
}

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    box-shadow: var(--heo-shadow-border);
  }

  .post-copyright .post-meta-original {
    display: none;
  }

  .post-copyright__original {
    display: none;
  }

  #post .post-copyright:after {
    display: none;
  }
}




/* 链接 */
#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post>div.post-copyright>div.post-copyright__type>span>a:hover {
  opacity: 1;
  background: none;
}

#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*装饰圈*/
#post .post-copyright:before {
  display: none;
}

#post .post-copyright .post-copyright-meta {
    color: #5a7ed7;
    font-weight: bold;
}
#post .post-copyright {
    padding: 2rem 1.3rem;
    border-radius: 11px;
    border-style: dashed;
}


/*侧边栏标签美化*/
#aside-content .card-tag-cloud a {
  font-size: 0.3rem;
  border-radius: 6px;
  border-style: dashed;
  border-width: 1px; 
  margin: 3px; 
}

/*文章分页卡片美化*/
#pagination.pagination-post {
  border-style: dashed;
  border-width: 1px;
  border-radius: 20px;
}
/*文章相关推荐卡片美化*/
.relatedPosts > .relatedPosts-list > div {
  border-radius: 20px;
  border-style: dashed;
  border-width: 1px;
  margin: 1px;
}

/* 文章目录 */
 #aside-content #card-toc .toc-content {
  margin: 10px -18px;
}
 #aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: var(--heo-lighttext);
  font-weight: bold;
  font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}

#标签页加新样式

/* 标签 */

#aside-content .card-tag-cloud a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    margin: 3px;
    padding: 0 5px;
}

.tag-cloud-list a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 5px;
}


/*全局半透明背景*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] #recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(18, 18, 18, 0.8);
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] #aside-content .card-widget {
    background: rgba(18, 18, 18, 0.8);
}
div#archive {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#archive {
    background: rgba(18, 18, 18, 0.8);
}
div#page {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#page {
    background: rgba(18, 18, 18, 0.8);
}

div#post {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#post {
    background: rgba(18, 18, 18, 0.8);
}

div#tag {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#tag {
    background: rgba(18, 18, 18, 0.8);
}

div#category {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#category {
    background: rgba(18, 18, 18, 0.8);
}


/*外挂标签tab*/
#article-container .tabs {
    position: relative;
    margin: 0 0 20px;
    border-radius: 5px;
    border-right: 1px solid var(--tab-border-color);
    border-bottom: 1px solid var(--tab-border-color);
    border-left: 1px solid var(--tab-border-color);
}

#article-container .tabs > .nav-tabs > .tab {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border-radius: 5px;
  padding: 8px 18px;
  border-top: 2px solid rgba(0,0,0,0);
  background: #fff;
  color: var(--tab-botton-color);
  line-height: 2;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
[data-theme="dark"] #article-container .tabs > .nav-tabs > .tab {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border-radius: 5px;
  padding: 8px 18px;
  border-top: 2px solid rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  color: var(--tab-botton-color);
  line-height: 2;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
[data-theme="dark"] #article-container .tabs > .nav-tabs > .tab.active {
    border-top: 2px solid #49b1f5;
    background: var(--tab-button-active-bg);
    cursor: default;
}